/* Corps page */
body {
  background-image: url("../img/wine-back4.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  font-family: 'Cinzel', serif;
  scroll-behavior: smooth;

}

/* Header */
header nav {
  background-color: rgba(29, 27, 27, 0.8);
  border-radius: 10px;
  margin-bottom: 10px;
}

/* Logo */
#logo{
  height: 100px;
  width: 100px;
}

/* Millesime */
#millesime{
  height: 80px;
  width: 170px;
}
/* Inputs texte login & password */
#mdp,
#login {
  border-radius: 5px;
}

/* Boutons S'inscrire & Login */
#btnSignUp,
#btnLogIn {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
  border-style: none;
}

#btnLogIn {
  margin-left: 25px;
}

/* Logo Millesime */
#millesime {
  margin-right: 50px;
}

/* Input LogIn et Mot de passe */
#login,
#mdp {
  border-radius: 3px;
  border-style: none;
}

/* Input texte Vin */
#strSearch {
  min-width: 270px;
  border-style: solid;
  border-color: rgb(145, 53, 64);
  background-color: white;
  border-width: 2px;
}

/* Bouton  Ajouter */
#ajouter {
  margin-left: 10px;
  margin-right: 10px;
}

/* Bouton Trier */
#trier {
  max-width: 150px;
  border-style: none;
  background: #F9F9F9;
  box-shadow: none;
  font-size: 16px;
  background-color: white;
}

/* Bouton tatistiques */
#ChartGraph {
  margin-left: 10px;
  background-color: rgb(135, 35, 31);
  border : none;
}

/* Liste de vins */
#liste {
  min-width: 300px;
  max-height: 600px;
  overflow-y: auto;
  overflow-x: hidden;
}


/* Nom Vin individuel */
#liste li {
  min-width: 100px;
}

/* Bouton Reset liste */
#reset {
  margin-top: 10px;
  align-content: center;
  width: 270px;
}

/* Changement de couleur Vin survol� */
#liste li:hover {
  background: rgb(219, 217, 217);
  transition: 0.1s;
  cursor: default;
}

/* Formulaire info vin + img */
#stylediv {
  z-index: 1;
  position: relative;
  max-height: 585px;
  min-width: 100px;
  margin-top: 17px;
  margin-right: 20px;
  margin-bottom: 2px;
  margin-left: 20px;
  padding-top: 25px;
  border-radius: 10px;
  background-color: rgba(95, 25, 32, 0.787);
  -webkit-box-shadow: 0px 0px 40px 6px rgba(41, 41, 41, 0.93);
  -moz-box-shadow: 0px 0px 40px 6px rgba(29, 29, 29, 0.93);
  box-shadow: 0px 0px 40px 6px rgba(34, 34, 34, 0.93);
  overflow-y: scroll;
  overflow-x: hidden;
  cursor: not-allowed;
}

/*labels info vin input */
#stylediv input {
  pointer-events: none;
}

/* Labels info vin */
#stylediv label {
  color: white;
  margin: 0px;
}

/* visibilit� bio*/
.hide {
  visibility: hidden;
  height: 0px;
}

.show {
  visibility: visible;
  min-height: 23px;
  margin-bottom: 1rem;
}

/* Radio style */
#bioFalse {
  margin-left: 80px;
}

#bioTrue {
  margin-left: -30px;
}

/* Boutons supprimer/sauvegarder */
#supprimer,
#sauvegarder {
  display: none;
  margin-top: 15px;
  padding: 7px;
  font-size: 15px;
}

/* Bouton sauvegarder */
#sauvegarder {
  max-width: 140px;
}

/* Bouton supprimer */
#supprimer {
  min-width: 122px;
}

/* Container Img + Icone */
#container {
  position: relative;
}

/* Image dans container */
#container img {
  display: block;
}

/* Image Vin */
.styled {
  margin-top: 16px;
  margin-bottom: 6px;
  border-color: rgb(145, 53, 64);
  border-style: solid;
  border-radius: 10px;
  width: 255px;
  height: 315px;
}

/* Icone Modif Img */
#container .fa-edit {
  position: absolute;
  bottom: 10px;
  margin-left: 228px;
  color: black;
}

/* Textarea */
#description {
  width: 255px;
  height: 255px;
  border-color: rgb(145, 53, 64);
  border-width: 3px;
  border-style: solid;
  border-radius: 8px;
  margin-top: 10px;
  padding-left: 8px;
  padding-top: 7px;
  font-size: 13px;
  overflow-y: auto;
  resize: none;
}

/* Style div chart */
#mainPays {
  position: relative;
  background-color: rgba(255, 255, 255, 0.904);
  border-radius: 10px;
  max-width: 995px;
  max-height: 500px;
  margin-left: 10px;
  padding-bottom: 30px;
  margin-bottom: 30px;
}

/* Bouton Close Chart Pays */
#closePays,
#closeRaisins {
  position: absolute;
  top: 10px;
  right: 5px;
  width: 25px;
  height: 25px;
  z-index: 1;
  cursor: pointer;
}

#mainRaisins {
  background-color: rgba(255, 255, 255, 0.904);
  border-radius: 10px;
  max-width: 995px;
  height: 350px;
  margin-left: 10px;
  padding-bottom: 20px;
  margin-bottom: 30px;
}

/* css pour les telephones et tablettes */
@media all and (min-width:300px) and (max-width:360px) {

  #mainPays,
  #mainRaisins {
    min-width: 300px;
    min-height: 300px;
  }

  #cadrePays,
  #cadreRaisins {
    min-width: 300px;
    min-height: 300px;
  }
  /* css pour les telephones et tablettes */
  @media all and (min-width:300px) and (max-width:360px) {
   
    #mainPays,#mainRaisins{
        min-width:300px;
        min-height: 300px;
    }
    #cadrePays,#cadreRaisins{
        min-width: 300px;
        min-height: 300px;
    }
    #recherche,#trier,#ajouter,#ChartGraph{
      margin-top: 7px;
    }
    #stylediv{
      width: 280px;
      margin-left:16px;
    }
    #a:ChartGraph{
      width: 120px;
      height: 25px;
     }
     #trier{
       width: 100px;
     }
  } 
  @media all and (min-width:361px) and (max-width:649px) {
    #mainPays,#mainRaisins{
        min-width:300px;
        min-height: 300px; 
        margin-right: 20px;
    }
    #cadrePays,#cadreRaisins{
        min-width: 300px;
        min-height: 300px;
    }
    #stylediv{
      min-width:330px;
      margin-right: 15px;
      margin-left: 15px;
    }
    #recherche,#trier,#ajouter,#ChartGraph{
      margin-top: 7px;
    }
    #strSearch{
      margin-bottom: 5px;
    }
  }
  
  @media all and (min-width:650px) and (max-width: 1000px) {
    #mainPays,#mainRaisins{
        width:350px;
        height: 350px;
    }
    #cadrePays,#cadreRaisins{
        min-width: 250px;
        min-height: 250px;
    }
    #trier,#ChartGraph{
      margin-top: 7px;
    }
    #strSearch{
      width:500px;
    }
    #ajouter{
      margin-top: 7px;
      margin-left:0px;
    }
    #recherche{
      width: 152px;;
    }
    .column {
      width: 50%;
    }
    #stylediv,#liste{
      width: 50%;
    }
  }

  #stylediv {
    min-width: 370px;
    margin-right: 15px;
    margin-left: 15px;
  }
}

@media all and (min-width:650px) and (max-width: 1000px) {

  #mainPays,
  #mainRaisins {
    width: 350px;
    height: 350px;
  }

  #cadrePays,
  #cadreRaisins {
    min-width: 250px;
    min-height: 250px;
  }
}

@media all and (min-width:1001px) and (max-width: 3000px) {

  #mainPay,
  #mainRaisinss {
    min-width: 350px;
    min-height: 350px;
  }

  #cadrePays,
  #cadreRaisins {
    min-width: 300px;
    min-height: 300px;
  }
}

/* Texte Footer */
footer {
  color: white;
  font-size: 13px;
}