/* Corps page */

body {
	background-image: url("../img/wine-back4.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	font-family: 'Cinzel', serif;
	scroll-behavior: smooth;
}


/* Message */

#message {
	display: none;
	position: absolute;
	z-index: 2;
	width: 100%;
	height: 50px;
	padding-top: 15px;
	padding-left: 10px;
	font-size: 15px;
	border-bottom: solid 3px black;
	color: white;
	background-color: rgba(95, 25, 32, 0.8);
}


/* Icone message */

#closeMessage {
	position: absolute;
	top: 10px;
	right: 8px;
	z-index: 2;
}


/* Header */

header nav {
	background-color: rgba(29, 27, 27, 0.8);
	border-radius: 10px;
	margin-bottom: 10px;
}


/* Logo */

#logo {
	height: 100px;
	width: 100px;
}

/* Millesime */
#millesime {
	height: 80px;
	width: 170px;
}

#logoBrand:hover {
	transform: translateX(4px);
	transition: 0.2s ease-in-out;
}


#frmBack {
	display: none;
	border-radius: 7px;
	padding: 8px 8px 8px 8px;
	width: 250px;
	height: 125px;
	background: linear-gradient(-45deg, #bd0600, #e73c3c, #6b1717, #420000);
	background-size: 400% 400%;
	animation: gradient 12s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}

	50% {
		background-position: 100% 50%;
	}

	100% {
		background-position: 0% 50%;
	}
}

/* Input LogIn et Mot de passe */

#login,
#mdp {
	border-radius: 3px;
	border-style: none;
	margin-bottom: 8px;

}

#btnLogIn,
#btnClose {
	width: 49%;
}

#iconSignOut {
	display: none;
}

#iconLogin,
#iconSignOut {
	cursor: pointer;
}

/* Logo Millesime */

#millesime {
	margin-right: 50px;
}

#searchBtnReset {
	position: relative;
}

/* Input texte Vin */
#strSearch {
	min-width: 270px;
	border-style: solid;
	border-color: rgb(145, 53, 64);
	background-color: white;
	border-width: 2px;
}

#strSearch:focus {
	-webkit-box-shadow: none;
	box-shadow: none;
}

/* Popper arrow */
.arrow,
.arrow::before {
	position: absolute;
	width: 8px;
	height: 8px;
	z-index: -1;
}

.arrow::before {
	content: '';
	transform: rotate(45deg);
	background: #333;
}

/* Popper tooltip */
.popTooltip {
	display: none;
}

.popTooltip[data-show] {
	display: block;
}

.popTooltip {
	background: #333;
	color: white;
	font-weight: bold;
	padding: 4px 8px;
	font-size: 13px;
	border-radius: 4px;
}

.popTooltip [data-popper-placement^='top']>.arrow {
	bottom: -4px;
}

.popTooltip[data-popper-placement^='bottom']>.arrow {
	top: -4px;
}

.popTooltip[data-popper-placement^='left']>.arrow {
	right: -4px;
}

.popTooltip[data-popper-placement^='right']>.arrow {
	left: -4px;
}

/* Icone reset liste */
#resetList {
	position: absolute;
	display: none;
	top: 11px;
	right: 20px;
	z-index: 1;
	cursor: pointer;
	opacity: 0.8;
}

/* Boutons de filtrage */
#selectCountries,
#selectMethods,
#filtrer,
#recherche,
#ChartGraph {
	margin-left: 10px;
	margin-right: 10px;
}

/* Bouton statistiques */
#ChartGraph {
	background-color: rgb(135, 35, 31);
	border: 1px solid rgb(135, 35, 31);
	width: 155px;
	margin-top: 0px;
}

#ChartGraph:hover {
	background-color: rgb(107, 15, 12);
	border: 1px solid rgb(107, 15, 12);
}

/* Liste de vins */
#liste {
	min-width: 300px;
	max-height: 625px;
	overflow-y: auto;
}

/* Nom Vin individuel */
#liste li {
	min-width: 100px;
	height: 52px;
}

/* Bouton Reset liste */
#reset {
	margin-top: 10px;
	align-content: center;
	width: 270px;
}

/* Changement de couleur Vin survolé */
#liste li:hover {
	background: rgb(219, 217, 217);
	transition: 0.1s;
	cursor: pointer;
}

/* Formulaire info vin + img */
#stylediv {
	z-index: 1;
	position: relative;
	max-height: 625px;
	min-width: 100px;
	margin-top: 17px;
	margin-right: 20px;
	margin-bottom: 2px;
	margin-left: 20px;
	padding-top: 25px;
	border-radius: 10px;
	background-color: rgba(95, 25, 32, 0.787);
	-webkit-box-shadow: 0px 0px 40px 6px rgba(41, 41, 41, 0.93);
	-moz-box-shadow: 0px 0px 40px 6px rgba(29, 29, 29, 0.93);
	box-shadow: 0px 0px 40px 6px rgba(34, 34, 34, 0.93);
	overflow-y: scroll;
	overflow-x: hidden;
	cursor: not-allowed;
}

/*labels info vin input */
#stylediv input {
	pointer-events: none;
}

/* Labels info vin */
#stylediv label {
	color: white;
	margin: 0px;
}

/* visibilité bio*/
.hide {
	visibility: hidden;
	height: 0px;
}

.show {
	visibility: visible;
	min-height: 23px;
	margin-bottom: 1rem;
}


/* Radio style */
#bioFalse {
	margin-left: 80px;
}

#bioTrue {
	margin-left: -30px;
}

/* Container Img + Icone */
#container {
	position: relative;
	width: 280px !important;
}

/* Image dans container */
#container img {
	display: block;
	width: 280px !important;
}


/* Image Vin */
.styled {
	margin-top: 16px;
	margin-bottom: 6px;
	border-color: rgb(145, 53, 64);
	border-style: solid;
	border-radius: 10px;
	width: 255px;
	height: 315px;
}

#container #countryFlagsImg {
	display: none;
	position: absolute;
	top: 5px;
	margin-left: 215px;
}

/* Taille img drapeau */
img#countryFlagsImg {
	width: 50px;
}

.divBtns {
	width: 280px;
}

#inpFile {
	display: none;
}

#lblFile,
#btnUpload {
	color: white;
	background-color: #c14c55;
	border: 2px solid #c14c55;
	padding: 3px;
	border-radius: .25rem;
	font-size: 15px;
	cursor: pointer;
	text-align: center;
}

#lblFile {
	width: 78%;
}

#lblFile:hover {
	cursor: pointer;
}

#btnUpload {
	width: 20%;
}

#lblFile:hover,
#btnUpload:hover {
	background-color: #a7222d;
	border-color: #a7222d;
	transition: 0.3s;
}

/* bouton Like */
#likeButton {
	color: #fff;
	width: 49%;
}

#btnNbLikes {
	color: #fff;
	width: 49%;
}

/* Textarea */

#description {
	width: 280px;
	height: 220px;
	margin-top: 10px;
	padding-left: 8px;
	padding-top: 7px;
	border-width: 3px;
	border-style: solid;
	border-color: rgb(145, 53, 64);
	border-radius: 8px;
	font-size: 13px;
	overflow-y: auto;
	resize: none;
}

/* Style div chart */
#mainPays {
	margin-top: 15px;
}

#mainPays,
#mainRaisins {
	position: relative;
	background-color: rgba(255, 255, 255, 0.904);
	border-radius: 10px;
	max-height: 500px;
	margin-left: 14px;
	margin-right: 16px;
	padding-bottom: 30px;
	margin-bottom: 30px;
}

#cadrePays,
#cadreRaisins {
	min-width: 300px;
	min-height: 300px;
}

/* Bouton Close Chart Pays */

#closePays,
#closeRaisins {
	position: absolute;
	top: 10px;
	right: 5px;
	width: 25px;
	height: 25px;
	z-index: 1;
	cursor: pointer;
}


/*Section commentaire et notes */

#tabs {
	display: none;
	position: relative;
	background-color: rgba(255, 255, 255, 0.904);
	border-radius: 3px;
	height: 42px;
	margin-left: 0px;
	margin-top: 15px;
}


/* notes et commentaires */
#favourite,
#comments {
	background-color: #fff;
	display: none;
	max-height: 250px;
	margin-bottom: 15px;
	padding: 10px;
	border-radius: 0px 0px 3px 3px;
	overflow-y: auto;
}

/*Icone ajouter commentaire */
#iconAdd {
	display: block;
	padding: 5px;
	right: 10px;
	top: 7px;
	position: absolute;
	cursor: pointer;
}

#containerAdd {
	position: relative;
}

/* Icons edit et supprimer */
.containerComment {
	position: relative;
}

#iconDlt {
	position: absolute;
	top: 20px;
	right: 10px;
	cursor: pointer;
}

#iconEdit {
	position: absolute;
	top: 20px;
	right: 40px;
	cursor: pointer;
}

#divComment {
	display: none;
}

/* css pour les telephones et tablettes */
/*  Iphone 5SE */

@media all and (min-width:150px) and (max-width:320px) {

	*,
	::after,
	::before {
		box-sizing: content-box;
	}

	#btnScroll {
		display: none !important;
	}

	#mainPays,
	#mainRaisins {
		min-width: 330px;
		min-height: 330px;
	}

	#cadrePays,
	#cadreRaisins {
		min-width: 300px;
		min-height: 300px;
	}

	#recherche,
	#selectCountries,
	#selectMethods,
	#ChartGraph,
	#filtrer {
		margin-top: 7px;
	}

	#stylediv {
		width: 280px;
		margin-left: 16px;
	}

	#a:ChartGraph {
		width: 120px;
		height: 25px;
	}

	#resetList {
		right: 10px;
	}

	#recherche,
	#selectCountries,
	#filtrer {
		margin-left: 0px;
	}

	#likeButton,
	#btnNbLikes {
		width: 40%;
	}

	#tabs {
		height: 35px;
	}

	#tabComments,
	#tabDescription {
		font-size: 12px;
	}
}

@media all and (min-width:321px) and (max-width:375px) {
	#btnScroll {
		display: none !important;
	}

	#mainPays,
	#mainRaisins {
		min-width: 300px;
		min-height: 300px;
		margin-right: 15px;
	}

	#cadrePays,
	#cadreRaisins {
		min-width: 300px;
		min-height: 300px;
	}

	#recherche,
	#selectCountries,
	#selectMethods,
	#ChartGraph,
	#filtrer {
		margin-top: 7px;
	}

	#stylediv {
		width: 280px;
		margin-left: 16px;
	}

	#a:ChartGraph {
		width: 120px;
		height: 25px;
	}

	#resetList {
		right: 10px;
	}

	#recherche,
	#selectMethods,
	#ChartGraph {
		margin-left: 0px;
	}

	#tabs {
		height: 40px;
	}

	#tabComments,
	#tabDescription {
		font-size: 14px;
	}
}

@media all and (min-width:376px) and (max-width:649px) {
	#btnScroll {
		display: none !important;
	}

	#mainPays,
	#mainRaisins {
		min-width: 300px;
		min-height: 300px;
		margin-right: 20px;
	}

	#cadrePays,
	#cadreRaisins {
		min-width: 300px;
		min-height: 300px;
	}

	#stylediv {
		min-width: 330px;
		margin-right: 15px;
		margin-left: 15px;
	}

	#recherche,
	#selectCountries,
	#selectMethods,
	#ChartGraph,
	#filtrer {
		margin-top: 7px;
	}

	#strSearch {
		margin-bottom: 5px;
	}

	#resetList {
		right: 10px;
	}

	#recherche,
	#selectMethods,
	#ChartGraph {
		margin-left: 0px;
	}
}

@media all and (min-width:650px) and (max-width: 1000px) {
	#btnScroll {
		display: none !important;
	}

	#mainPays,
	#mainRaisins {
		width: 350px;
		height: 350px;
	}

	#cadrePays,
	#cadreRaisins {
		min-width: 250px;
		min-height: 250px;
	}

	#recherche,
	#selectCountries,
	#selectMethods,
	#filtrer,
	#ChartGraph {
		margin-top: 7px;
	}

	#strSearch {
		width: 500px;
	}

	#ajouter {
		margin-top: 7px;
		margin-left: 0px;
	}

	#recherche {
		width: 152px;
		;
	}

	#stylediv {
		min-width: 370px;
		margin-right: 15px;
		margin-left: 15px;
	}

	#resetList {
		right: 10px;
	}
}

@media all and (min-width:1001px) and (max-width: 1200px) {
	#ChartGraph {
		margin-top: 7px;
		margin-left: 0px;
	}

	#mainPay,
	#mainRaisinss {
		min-width: 350px;
		min-height: 350px;
	}

	#cadrePays,
	#cadreRaisins {
		min-width: 300px;
		min-height: 300px;
	}

	.divBtns,
	#description,
	.styled {
		width: 105% !important;
	}

	img#countryFlagsImg {
		margin-left: 198px !important;
	}
}


/* Texte Footer */

footer {
	color: white;
	font-size: 13px;
}

#btnScroll {
	display: none;
	position: fixed;
	bottom: 40px;
	right: 50px;
	z-index: 99;
	font-size: 18px;
	border: none;
	outline: none;
	background-color: rgb(255, 255, 255);
	box-shadow: 22px 9px 46px 6px rgba(0, 0, 0, 0.75);
	cursor: pointer;
	padding: 15px;
	border-radius: 50px;
}

